# Tell GitHub to prioritize actual code
*.py linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true

# Tell GitHub to ignore these when calculating languages
Dockerfile linguist-generated=true
*.yml linguist-generated=true
*.yaml linguist-generated=true
*.json linguist-generated=true
*.md linguist-generated=true
*.lock linguist-generated=true

# Optional: ignore tests or cache files too
tests/* linguist-generated=true
__pycache__/* linguist-generated=true
